/* SavedRoutes.css */
.container.saved-routes {
  margin-top: 50px;
}

.route-list ul {
  list-style-type: none;
  padding: 0;
}

.route-list li {
  padding: 10px;
  background-color: #f0f0f0;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.route-list li:hover {
  background-color: #e0e0e0;
}

.route-map {
  padding-left: 20px;
}
